/**************************************************************
* Header module rules
***************************************************************/
header {
    display: flex;
    min-height: 115px;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
}

#header-photo {
    max-height: 115px;
    min-width: 115px;
    border: 1px solid black;
}

#site-title {
    padding-top: 15px;
}

#site-title,
#site-subtitle {
    color: #57a0d3;
    text-shadow:
        -2px -2px 3px black,
        2px -2px 3px black,
        -2px 2px 3px black,
        2px 2px 3px black;
    /*    background: linear-gradient(#ffcf54, #e08404);
    -webkit-background-clip: text; */
    margin: 0px;
    margin-left: 2rem;
    text-align: left;
}
