[submodule "xelandria"]
	path = xelandria
	url = https://github.com/zc101/xelandria.git
	branch = master
[submodule "ubberon"]
	path = ubberon
	url = https://github.com/zc101/ubberon.git
	branch = master
[submodule "crosswyrd"]
	path = crosswyrd
	url = https://github.com/zc101/crosswyrd.git
