[submodule "xelandria"]
	path = webprojects/xelandria
	url = https://github.com/zc101/xelandria.git
	branch = master
[submodule "ubberon"]
	path = webprojects/ubberon
	url = https://github.com/zc101/ubberon.git
	branch = master
[submodule "crosswyrd"]
	path = webprojects/crosswyrd
	url = https://github.com/zc101/crosswyrd.git
[submodule "webprojects/borsippia"]
	path = webprojects/borsippia
	url = https://github.com/zc101/borsippia.git
