/* This main css file contains the baseline site-specific rules and is geared towards small (< 600px) views */

/**********************************************
* Shared rules for all pages
***********************************************/
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Rubik', Arial, sans-serif;
    max-width: 75rem;
    margin: auto;
}

nav {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

#hamburger {
    background-color: #f9970e;
    color: inherit;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
}

nav a {
    display: none;
    flex: 1 100%;
    max-width: 10rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background: linear-gradient(#f9970e, #ffcf54, #f9970e);
    color: inherit;
    text-decoration: none;
}

nav a.responsive {
    display: inline;
}

nav a:hover,
nav a:focus {
    background: linear-gradient(#ffcf54, #ffde8c, #ffcf54);
}

nav a.current {
    font-weight: bold;
    padding-top: calc(0.25rem - 2px);
    padding-bottom: calc(0.25rem - 2px);
    border: 2px solid black;
}
