/* Contains rules for screen widths between about 600 and 1024px */
@media only screen and (min-width: 37.5em) {
    /***************************
    * Shared rules for all pages
    ****************************/
    nav {
        flex-flow: row nowrap;
    }

    nav a,
    nav a.responsive {
        display: inline;
        font-size: 1.25rem;
        max-width: 100%;
    }

    #burger-box {
        display: none;
    }
}
