/**************************************************************
* Header module rules
***************************************************************/
header {
    min-height: 115px;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
}

#site-title {
    padding-top: 1.5rem;
}

#site-title,
#site-subtitle {
    color: #f9970e;
    text-shadow:
        -2px -2px 3px #000,
        2px -2px 3px #000,
        -2px 2px 3px #000,
        2px 2px 3px #000;
    /*    background: linear-gradient(#ffcf54, #e08404);
    -webkit-background-clip: text; */
    padding-bottom: 5px;
    margin: 0px;
}
