/**********************************************
* Accordion menu rules
**********************************************/
.accordion-item {
    width: 80%;
    margin: auto;
    text-align: center;
}

.accordion-button {
    width: 100%;
    padding: 0.5rem 0px 0.5rem 0px;
    background-color: #f9970e;
    border: 2px solid black;
}

.accordion-button:hover,
.accordion-button:active {
    background-color: #ffcf54;
}

.accordion-item figure {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 100%;
    margin: 0px 0px 2px 0px;
    text-align: center;
    background-color: white;
}

.accordion-item.active figure {
    max-height: 100rem;
    border: 2px solid black;
    border-top: none;
}

.accordion-item.active figure img {
    max-width: 100%;
    object-fit: contain;
    border-bottom: 2px solid black;
}

.accordion-item.active s {
    color: grey;
    text-decoration: line-through;
}

.accordion-item.active b {
    color: red;
}

.accordion-item.active h3 {
    margin: 0px;
}

.accordion-details {
    width: 97%;
    margin: 0.2rem auto 0.2rem auto;
    text-align: justify;
}
