/**********************************************
* Events page rules
**********************************************/
#content-box {
    text-align: center;
}

article {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    border: 6px double #f9970e;
}

.article-title {
    position: absolute;
    top: 0px;
    width: 100%;
    margin: auto;
    z-index: 1;
    color: #f9970e;
    text-shadow:
        -2px -2px 2px #222,
        2px -2px 2px #222,
        -2px 2px 2px #222,
        2px 2px 2px #222;
}

article img {
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    border-bottom: 3px solid #f9970e;
}

.article-text {
    margin: 0.5rem;
    text-align: justify;
}

#register-button {
    width: 40%;
    padding: 0.25rem;
    background-color: #ff0505;
}

#register-button:hover {
    background-color: #ff4040;
}

#registration #register-form {
    display: none;
}

#registration.active #register-button {
    display: none;
}

#registration.active #register-form {
    display: block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border: 6px double #ff0505;
}

#registration {
    max-width: 50%;
    margin: 0.5rem auto 0.5rem auto;
    text-align: center;
}

#registration * {
    width: 100%;
}

#register-form p {
    margin-bottom: 0px;
}

#register-form input,
#register-form textarea,
#registration button {
   border: 2px inset black;
}

.fine-print {
    font-size: 0.75rem;
}

#submit-button {
    padding: 0.25rem;
    margin: 0.5rem 0px 0.5rem 0px;
    background-color: #f9970e;
}

#submit-button:hover,
#submit-button:active {
    background-color: #ffcf54;
}

#thanks {
    text-align: center;
    font-weight: bolder;
}
