/**********************************************
* Sales gallery rules
**********************************************/
.sales-item {
    width: 80%;
    margin: auto;
}

button.accordion {
    width: 100%;
    padding: 0.5rem 0px 0.5rem 0px;
    background-color: #f9970e;
    border: 2px solid black;
}

button.accordion:hover,
button.accordion:active {
    background-color: #ffcf54;
}

.sales-item figure {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    width: 100%;
    margin: 0px 0px 2px 0px;
    text-align: center;
    background-color: white;
}

.sales-item.active figure {
    max-height: 100rem;
    border: 2px solid black;
    border-top: none;
}

.sales-item.active figure img {
    max-width: 100%;
    object-fit: contain;
    border-bottom: 2px solid black;
}

.sales-item.active s {
    color: grey;
    text-decoration: line-through;
}

.sales-item.active b {
    color: red;
}

.sales-item.active h3 {
    margin: 0px;
}

.bike-features {
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
    text-align: justify;
}
