
body {
    font-size: 18px;
    font-family: Montserrat, Ubuntu, Arial, sans-serif;
    color: white;
}

.jeopardy-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    place-items: stretch;
    background-color: darkgray;
/*    text-align: center; */
    padding: 10px;
    border: 2px solid black;
    max-width: 65rem;
    margin: auto;
}

.jeopardy-category {
    background-color: blue;
    border: 4px solid white;
}

.jeopardy-category,
.jeopardy-question > * {
    padding: 10px;
}

.jeopardy-question {
    display: flex;
    min-height: 5rem;
    align-items: flex-start;
    justify-content: center;
    background-color: blue;
    border: 2px solid black;
}

.jeopardy-question:hover {
    box-shadow: 5px 5px 10px #1f1f1f;
}

.question-value {
    align-self: center;
    font-size: 36px;
}
