/**********************************************
* Image carousel rules
**********************************************/
.carousel {
    width: 50%;
    max-height: 25rem;
    overflow: hidden;
    margin: auto;
}

.carousel img {
    width: 100%;
    height: auto;
    margin: auto;
    object-fit: contain;
}
/*
.carousel img.active {
    opacity: 1;
}
*/
