/* CIT 230 - Assignment Portal CSS */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color: black;
}

h1 {
    height: 4rem;
    font-size: 1.75rem;
    text-align: center;
    line-height: 4rem;
    color: whitesmoke;
}

h2 {
    font-size: 1.15rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 97%;
}

header, footer, footer a {
    text-align: center;
    background-color: #084F96;
    color: whitesmoke;
}

header img {
    border-radius: 100%;
    border: 1px solid #084F96;
    float: right;
}

footer {
    font-size: 0.75rem;
}
