/**********************************************
* Accordion menu rules
**********************************************/
.accordion {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.accordion-item {
    width: 100%;
    margin: auto;
    text-align: center;
}

.accordion-button {
    width: 100%;
    padding: 0.5rem 0px 0.5rem 0px;
    color: white;
    background-color: #0277bd;
    border: 2px solid black;
    border-bottom: none;
}

.accordion-button:hover,
.accordion-button:active {
    background-color: #57a0d3;
}

.accordion-item figure,
.accordion-item .accordion-details {
    background-color: white;
}

.accordion-item figure,
.accordion-item form,
.accordion-item .accordion-details {
    max-height: 0px;
    width: 100%;
    border: 2px solid black;
    border-top-width: 0px;
    margin: 0px 0px 2px 0px;
    transition: max-height 0.3s ease;
    transition: border-top-width 0.0s linear;
    overflow: hidden;
}

.accordion-item figcaption {
    font-size: 0.9rem;
    font-style: italic;
    padding: 5px;
}

.accordion-item .accordion-details {
    padding: 0px;
}

.accordion-item.active figure,
.accordion-item.active form,
.accordion-item.active .accordion-details {
    max-height: 100rem;     /* Just an arbitrary obscenely large value to accommodate any possible height */
    border-top-width: 2px;
}

.accordion-item.active .accordion-details {
    padding: 4px;
}

.accordion-item.active figure img {
    max-width: 100%;
    object-fit: contain;
    border-bottom: 2px solid black;
}

.accordion-item.active h3 {
    margin: 0px;
}

.accordion-item input[type=submit] {
    width: 80%;
    padding: 0.25rem;
    margin: 0.5rem 0px 0.5rem 0px;
    background-color: #0277bd;
}


.accordion-item input[type=submit]:hover,
.accordion-item input[type=submit]:active {
    background-color: #57a0d3;
}

.accordion-details {
    width: 97%;
    margin: 0.2rem auto 0.2rem auto;
    text-align: justify;
}
